/* Colors and Fonts */

body {

background : #EDF4FA;
color : gray;
font-family: 'Bona Nova', serif;
font-size : 17px
}
h1{
	color : #02679D ;
	font-family: 'Lobster', cursive;
	font-size :
}
 h2 {
		color: #02679D;
		font-family: 'Lobster', cursive;
	}
	body {
		color: black;
	}

.container {
	width: 750px;
	margin: 40px auto;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
	.container{
		width :300px ;

		}
}

.img-circle {
	block-size: 200px;
	border-radius: 50%;
}

.cart-white {
	background: white;                         /* White background */
	padding: 30px;                             /* Internal space */
	border-radius: 4px;                        /* Small radius */
	box-shadow: 0 10px 30px rgba(0,0,0,0.5);    /* Light shadow */
	margin: 50px;
	text-align: center;
}

a:hover {
	color: black;
}

.list-inline {
  list-style: none; /* kill the bullet points */
  padding-left: 0px; /* kill remaining padding left *
  }

